body {
    background-color: #262626;
    color: white;
    font-family: "Dancing Script", cursive;
}

.winner {
    font-size: 7rem;
    margin-top: 50px;
}

h1 {
    color: #4ECCA3;
    font-stretch: ultra-expanded
}

th {
    color: #4ECCA3;
}

.anchor-tag {
    color: #4ECCA3;
    text-decoration: none;
    font-size: 25px;
}

.dice {
    display: inline-block;
    margin: 30px;
}

p {
    font-size: 3rem;
    color: #4ECCA3;
}